html {
    display: flex;
    height: 100%;
}

body {
    width: 100%;
}

.content-3pl {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content-3pl .pl1-bg {
    background-image: url("/images/bg-pl/player1.webp");
    background-size: cover;
    background-position-x: center;
    height: 100%;
    width: 50%;
    display: flex;

}

.content-3pl .pl3-bg {
    background-image: url("/images/bg-pl/player1.webp");
    background-size: cover;
    background-position-x: center;
    height: 100%;
    width: 50%;
    display: flex;

}

.content-3pl .pl3-bg .pl3-content {
    display: flex;
    margin: 15px 15px 3em 15px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid white;
    border-radius: 1px;
    width: 100%;
    backdrop-filter: blur(10px);

}


.content-3pl .pl1-bg .pl1-content {
    display: flex;
    margin: 15px 15px 3em 15px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid white;
    border-radius: 1px;
    width: 100%;
    backdrop-filter: blur(10px);

}

.pl2_pl3 {

    display: flex;
    height: 50%;


}




.content-3pl .espaco-menu {
    position: absolute;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    top: 45%;
    align-items: center;
}

.content-3pl .espaco-menu .menu {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 15px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    border: 1px solid;
    border-radius: 40px;
}

.content-3pl .espaco-menu .menu div {
    box-shadow: none;
    display: flex;
    align-items: center;
}

.content-3pl .pl2-bg {
    background-image: url("/images/bg-pl/player2.webp");
    background-size: cover;
    background-position-x: center;
    height: 50%;
    width: 100%;
    display: flex;
}

.content-3pl .pl2-bg .pl2-content {
    display: flex;
    margin: 3em 15px 15px 15px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid white;
    border-radius: 1px;
    width: 100%;
    backdrop-filter: blur(10px);
}

.contador {
    margin: auto;
    font-size: 5em;
    font-weight: 900;
}

#contador1 {

    rotate: 90deg;
}

#contador3 {

    rotate: 270deg;
}

.time {
    font-size: 2em;
    opacity: .8;
}

.content-3pl .botao-plus {
    font-size: 2.5em;
    box-shadow: none;
    width: 50%;
    height: 100%;
    padding-right: 30%;
    position: absolute;
}

.content-3pl .botao-less {
    font-size: 3em;
    box-shadow: none;
    width: 50%;
    height: 100%;
    padding-left: 30%;
    position: absolute;
    right: 0;
}

.content-3pl .botao-plus-rotation {
    font-size: 2.5em;
    box-shadow: none;
    width: 100%;
    height: 50%;
    padding: 30%;
    top: 0;
    position: absolute;
}

.content-3pl .botao-less-rotation {
    font-size: 3em;
    box-shadow: none;
    width: 100%;
    height: 50%;
    padding: 30%;
    bottom: 0;
    position: absolute;
    right: 0;
    rotate: 90deg;

}


.w3-modal {
    z-index: 3;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4)
}

.w3-modal-content {
    margin: auto;
    background-color: rgba(3, 3, 3, 0.404);
    position: relative;
    padding: 0;
    outline: 0;
    width: auto;
    margin: 80% 20%;
    border: 1px solid #fff;
    backdrop-filter: blur(4px);
}

.w3-container {
    display: flex;
}

.w3-modal-content span {

    margin: 0 0 auto auto;
    font-size: 5em;
    font-weight: 700;
}