html{
    display: flex;
    height: 100%;
}

body{
    width: 100%;
}

.content-2pl{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content-2pl .pl1-bg{
    background-image: url("/images/bg-pl/player1.webp");
    background-size: cover;
    background-position-x: center;
    height: 50%;
    width: 100%;
    display: flex;
}

.content-2pl .pl1-bg .pl1-content{
    display: flex;
    margin: 15px 15px 3em 15px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid white ;
    border-radius: 1px;
    width: 100%;
    backdrop-filter: blur(10px);
}

.content-2pl .espaco-menu{
    position: absolute;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    top: 45%;
    align-items: center;
}

.content-2pl .espaco-menu .menu{
    display: flex;
    align-items: center;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    border: 1px solid;
    border-radius: 40px;
}

.content-2pl .espaco-menu .menu button{
    box-shadow: none;
    display: flex;
    align-items: center;
}

.content-2pl .pl2-bg{
    background-image: url("/images/bg-pl/player2.webp");
    background-size: cover;
    background-position-x: center;
    height: 50%;
    width: 100%;
    display: flex;
}

.content-2pl .pl2-bg .pl2-content{
    display: flex;
    margin: 3em 15px 15px 15px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid white ;
    border-radius: 1px;
    width: 100%;
    backdrop-filter: blur(10px);
}

.contador{
    margin: auto;
    font-size: 5em;
    font-weight: 900;
}

.time{
    font-weight: 900;
    font-size: 2em;
    opacity: .8;
}

.content-2pl .botao-plus{
    font-size: 2.5em;
    box-shadow: none;
    width: 50%;
    height: 100%;
    padding-right: 30%;
    position: absolute;
}

.content-2pl .botao-less{
    font-size: 3em;
    box-shadow: none;
    width: 50%;
    height: 100%;
    padding-left: 30%;
    position: absolute;
    right: 0;
}